* {
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 3px 8px #bcbcbc;
}
.navbar{
    top: 0;
}
.navbar img{
    width: 15%;
    display: inline;
}
.nav-list{
    display: flex;
}
.nav-list a{
    display: block;
    color: #000000;
    text-decoration:none;
    font-size: 24px;
    padding: 0.8em;
    margin-left: 10px;
}
.nav-list a:hover{
    background-color: #bcbcbc;
}
.login{
    font-size: 24px;
    color: #2e87e6;
    margin-left: 100px;
}
.login a{
    text-decoration: none;
    color: #003c6e;
    display:inline-block ;
    position: relative;
    margin-top: 20px;
    margin-left:10px ;
}
.login a:hover{
    color: #0089ff;
}
